.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.padding20Px{
  padding: 20px;
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  animation-name: bounceInUp;
}
.ad2hs-prompt {
  display: none;
  width: 100%;
  line-height: 2em;
  background-color: #fff;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 1% 0;
  min-height: 10%;
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  flex-direction: column;
  flex-grow: 1;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.ad2hs-prompt:hover {
  box-shadow: 0 0 0 0 0.25rem;
}

.ad2hs-prompt a:focus {
  text-decoration: underline;
}

.ad2hs-prompt:focus-within {
  box-shadow: 0 0 0 0.25rem;
}

.ad2hs-prompt:focus-within a:focus {
  text-decoration: none;
}

.ad2hs-prompt H1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
  margin:0;
}

.ad2hs-prompt .btn {
  align-self: flex-end;
  margin-right: 5%;
}

.ad2hs-prompt > * + * {
  margin-top: 0.75rem;
}

.ad2hs-prompt :last-child {
  margin-top: auto;
  margin-bottom: 0.75rem;
}